body > .ui.container {
    margin-top: 3em;
}
.ui.label strong {
    color: black;
}
.ui.table:last-child {
    margin-bottom: 1em;
}
tr.acknowledged td {
    opacity: 0.5;
}
.frame .lines {
    list-style-position: inside;
    margin-left: 0;
    padding-left: 0;
}
.frame .lines li {
    font-family: monospace;
    font-size: 12px;
    display: none;
    cursor: pointer;
    line-height: 20px;
    padding-left: 20px;
}
.frame .lines li.context-line {
    background-color: #e8e8e8;
}
.frame .vars {
    display: none;
}
.frame.reveal {
    background-color: #f7f7f7;
}
.frame .lines li.context-line,
.frame.reveal li {
    display: list-item;
}
.frame.reveal .vars {
    display: table;
}
.hidden {
    display: none !important;
}