{{define "content"}}
<div class="ui message">
    <p>
    <pre>{{ .Message }}</pre>
    </p>
</div>

<h2>Tags</h2>

<p>
    <div class="ui label"><strong>seen</strong> = {{ .Seen }}</div>
    <div class="ui label"><strong>level</strong> = {{ .Level }}</div>
    <div class="ui label"><strong>logger</strong> = {{ .Logger }}</div>
    <div class="ui label"><strong>server_name</strong> = {{ .ServerName }}</div>
    <div class="ui label"><strong>site</strong> = {{ .Site }}</div>
    <div class="ui label"><strong>at</strong> = {{ .Time }}</div>
    {{ if .NewerId }}
    <a href="/details/{{ .GroupId }}/{{ .NewerId }}" class="mini ui primary button right floated">Newer</a>
    {{ else }}
    <a class="mini ui disabled primary button right floated">Newer</a>
    {{ end }}
    {{ if .OlderId }}
    <a href="/details/{{ .GroupId }}/{{ .OlderId }}" class="mini ui primary button right floated">Older</a>
    {{ else }}
    <a class="mini ui disabled primary button right floated">Older</a>
    {{ end }}
</p>

<h2>Exception</h2>

{{range $k, $frame := .Frames}}
<div class="frame frame-{{ $k }}">
    <p>{{ $frame.AbsPath }} in {{ $frame.Function }}</p>
    <ol start="{{ $frame.LineNo }}" class="lines">
        {{range $line := $frame.PreContext}}
        <li>{{ $line }}</li>
        {{end}}
        <li class="context-line">{{ $frame.Context }}</li>
        {{range $line := $frame.PostContext}}
        <li>{{ $line }}</li>
        {{end}}
    </ol>
    {{ $frame.Vars }}
</div>
{{end}}

{{ if .Request }}
<h2>Request</h2>

<table class="ui striped right aligned table">
    {{range $k, $request := .Request}}
    <tr>
        <td class="left aligned"><strong>{{ $request.Name }}</strong></td>
        <td class="left aligned">
            {{if $request.ValueList}}
            <table class="ui striped right aligned table context-list">
                {{range $k2, $request2 := $request.ValueList}}
                <tr>
                    <td class="left aligned two wide"><strong>{{ $request2.Name }}</strong></td>
                    <td class="left aligned">{{ $request2.Value }}</td>
                </tr>
                {{end}}
                <tr>
                    <td class="center aligned" colspan="2"><a href="#">Collapse context</a></td>
                </tr>
                <tr>
                    <td class="center aligned" colspan="2"><a href="#">Expand context <span>(0)</span></a></td>
                </tr>
            </table>
            {{else}}
            {{ $request.Value }}
            {{end}}
        </td>
    </tr>
    {{end}}
</table>
{{end}}

{{ if .User }}
<h2>User</h2>

<table class="ui striped right aligned table">
    {{range $k, $v := .User}}
    <tr>
        <td class="left aligned two wide"><strong>{{ $k }}</strong></td>
        <td class="left aligned">{{ $v }}</td>
    </tr>
    {{end}}
</table>
{{end}}

<script type="text/javascript">
    appCode.push(function () {
        $('.frame li').click(function () {
            $(this).closest('.frame').toggleClass('reveal');
        });
        $('.context-list').each(function(){
            var c = $(this), trs = c.find('tr'), count = trs.length - 2;
            if (count < 5) {
                $(trs[trs.length - 1]).addClass('hidden');
                $(trs[trs.length - 2]).addClass('hidden');
                return;
            }
            $(trs[trs.length - 1]).find('a').click(function(e){
                e.preventDefault();
                for (i=2;i<count;i++) {
                    $(trs[i]).removeClass('hidden');
                }
                $(trs[trs.length - 1]).addClass('hidden');
                $(trs[trs.length - 2]).removeClass('hidden');
            }).find('span').html('('+count+')');
            $(trs[trs.length - 2]).find('a').click(function(e){
                e.preventDefault();
                for (i=2;i<count;i++) {
                    $(trs[i]).addClass('hidden');
                }
                $(trs[trs.length - 1]).removeClass('hidden');
                $(trs[trs.length - 2]).addClass('hidden');
            }).click();
        });
    });
</script>
{{end}}