<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error tracking</title>
    <link rel="stylesheet" href="/assets/css/semantic.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <script>
        var appCode = [];
    </script>
</head>

<body>
<div class="ui container">
    <div class="ui secondary pointing menu">
        <a href="/" class="{{if eq .Menu "index"}}active{{end}} item">Events</a>
        {{if eq .Menu "details"}}
        <a href="{{ .MenuLink }}" class="active item">Details</a>
        {{end}}
    </div>
    {{template "content" .}}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/assets/js/semantic.min.js"></script>
<script type="text/javascript">
    $.each(appCode,function(i,f){
        f.call();
    });
</script>
</body>
</html>
